* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primeiraCor: #7289da;
    --segundaCor: #424549;
    --terceiraCor: #36393e;
    --quartaCor: #282b30;
    --quintaCor: #1e2124;
    --sextaCor: White;
}

h1 {
    text-align: center;
    color: var(--sextaCor);
}

body {
    background-color: var(--quartaCor);
}

#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 20px auto 5px auto;
    background-color: var(--segundaCor);
}

.item {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 2px;
    color: var(--sextaCor);
}


.botoes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
}

#botaoDarkMode {
    position: fixed;
    top: 0;
    right: 5px;
    max-width: 34px;
}